.egg {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f9c800;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.egg img {
  width: 50%;
  height: auto;
  object-fit: contain;
  transition: transform 1.2s ease-in-out;
}

.bottom:hover .egg img {
  transform: scale(0.7);
}
