/* I wanted to some how make this map be able to drag around after being scaled up. 
However, I think it is only possible on Java script. So I basically gave up for now.
I'll come back later on this. Still, I feel confident on the smooth transtions and 
the interactions between the white and yellow boxes. */ 

.map {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map img {
  width: 140%;
  height: 140%;
  object-fit: cover;
  transition: transform 2s ease-in-out;
}

.top:hover .map img {
  transform: scale(2);
}
