* { box-sizing: border-box; margin: 0; padding: 0; }
html, body { height: 100%; }
body { font-family:"Hanken Grotesk"; background: #ffffff; 
}

@font-face{
  font-family:"Hanken Grotesk";
  src: url("fonts/HankenGrotesk-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.toptext,
.bottomtext {
  display: none;
}

.main {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh 3vw;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.ph {
  width: min(100vw, 2400px);
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  display: block;

  /* 이미지 확대 */
  transform: scale(1.3);        /* 숫자 ↑ 키울수록 더 확대됨 */
  transform-origin: center;   
  transform: scale(1.3) translateY(-5%);
}

.mobile { display: none; }

img { max-width: 100%; height: auto; display: block;}

:root {
  --count: 13;  /* 이미지 개수 정확히 맞춰야 함 */
  --per: 0.4s;  /* 한 장 보여주는 시간 */
  --dur: calc(var(--count) * var(--per));
}

.ph img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  animation: slideshow var(--dur) linear 1 forwards;
}

/* 각 이미지에 시간차 */
.ph img:nth-child(1)  { animation-delay: calc(0 * var(--per)); }
.ph img:nth-child(2)  { animation-delay: calc(1 * var(--per)); }
.ph img:nth-child(3)  { animation-delay: calc(2 * var(--per)); }
.ph img:nth-child(4)  { animation-delay: calc(3 * var(--per)); }
.ph img:nth-child(5)  { animation-delay: calc(4 * var(--per)); }
.ph img:nth-child(6)  { animation-delay: calc(5 * var(--per)); }
.ph img:nth-child(7)  { animation-delay: calc(6 * var(--per)); }
.ph img:nth-child(8)  { animation-delay: calc(7 * var(--per)); }
.ph img:nth-child(9)  { animation-delay: calc(8 * var(--per)); }
.ph img:nth-child(10) { animation-delay: calc(9 * var(--per)); }
.ph img:nth-child(11) { animation-delay: calc(10 * var(--per)); }
.ph img:nth-child(12) { animation-delay: calc(11 * var(--per)); }
.ph img:nth-child(13) { animation-delay: calc(12 * var(--per)); }


@keyframes slideshow {
  0%, 8%   { opacity: 1; }
  9%, 100% { opacity: 0; }
}

/* media query */
@media (max-width: 550px) {

  .main { display: none; }
  .mobile { display: block; }
  .hotspots { display: none; }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }


  .toptext, .bottomtext {
    font-weight: 600;
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    padding: 10px 14px;
}
.toptext { top: 0; }
.bottomtext { bottom: 0; }

}
