    body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffbf00;
      font-family: Helvetica;
    }

    input[type="checkbox"] {
      display: none;
    }

    label {
      font-size: 5rem;
      font-weight: bold;
      color: #ffffff;
      cursor: pointer;
      transition: 0.5s;
    }

    input:checked + label {
      font-size: 85rem;
    }

    .backarrow {
      position: fixed;
      bottom: 10px;
      left: 20px;
      font-size: 2rem;
      font-weight: bold;
      color: #ffbf00;
      text-decoration: none;
    }
