body{
  margin:0;
  background:#ffffff;
  font-family:"Hanken Grotesk";
}

@font-face{
  font-family:"Hanken Grotesk";
  src: url("fonts/HankenGrotesk-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;

  font-family: "Rubin Sans";
  src: url("fonts/Rubin Sans TRIAL Bold.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

/*
코너 고정 FIXEDDDD
IMPORTANT!!! "vw" <-- Responsive with the screen size
*/
.corner{
  position:fixed; z-index:5;
  font-size:3vw;
  text-transform:uppercase;
}

.tl{top:1.25rem; left:1.25rem; line-height:1.05}
.tr{top:1.25rem; right:1.25rem; writing-mode:vertical-rl}
.bl{bottom:1.5rem; left:1.25rem; writing-mode:vertical-rl;transform:rotate(180deg)}
.br{bottom:1.25rem; right:1.25rem}
.dot{
  display:flex;
  width:4vw; height:4vw;
  background: url("imgs/backbutton.png"); 
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.dot:hover{opacity: 0.5;}

.center{position:fixed; inset:0; display:flex; align-items:center; justify-content:center; padding:4vw}

.title{
  font-family: "Rubin Sans";
  text-align:center; text-decoration:none;
  text-transform:uppercase;
  font-size:5.2vw;
  color: black;
}
.title:hover{color:#FFD500}

.img{height:80%;}


/* 
For the GRID page 
Responsive with the screen size --> "vmin" for this one
*/

.grid9{
  display:grid;
  grid-template-columns: repeat(3, 24vmin);
  gap: 7vmin;
}
.circle{
  display:flex;
  width:24vmin;
  aspect-ratio:1/1;
  border-radius:50%;
  background:#ffd647;
}
.circle:hover{ background:#8D6500;}
