:root{
  --h: 140;      /* hue (0–360) */
  --sat: 75%;    /* saturation */
  --lum: 50%;    /* lightness */
}

/* reset */
*{ box-sizing:border-box; margin:0; padding:0; }
html,body{ height:100%; }
body{
  font-family: "Hanken Grotesk";
  background: hsl(var(--h) var(--sat) var(--lum));
  overflow:hidden;
}

/* 상단 컨트롤바 */
.controls{
  position:fixed; top:15px; left:50%; transform:translateX(-50%);
  display:flex; align-items:center; gap:15px;
  z-index:10;
}
.hue-wrap{ width:50vw; }
#hue{
  width:100%; height:18px; border-radius:999px; appearance:none;
  background: linear-gradient(90deg, 
    #f00 0%, #ff0 50%, #0f0 60%, #0ff 70%, #00f 80%, #f0f 90%, #f00 100%);
  outline:none; cursor:pointer;
}
#hue::-webkit-slider-thumb{
  -webkit-appearance:none; width:16px; height:16px; border-radius:999px;
  background:#d2d2d2;
}

/* 버튼 */
.button{
  background:rgba(156, 156, 156, 0.8); color:hsl(var(--h) var(--sat) var(--lum)); border-radius:999px;
  padding:10px 16px; font-weight:700; cursor:pointer;
}

.egg{
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 65%;
  height: auto;
  display: block;
}
@media (max-width:550px){
  .egg{ width: 100%; }
}

/* 결과  */
.result[hidden]{ display:none; }

.result{
  position:fixed; inset:0; display:grid; place-items:center;
  background:#ffffff84;
  z-index:15;
}
.result-box{
  background:rgba(62, 62, 62, 0.555); color:hsl(var(--h) var(--sat) var(--lum)); padding:24px; border-radius:16px;
  text-align:center; min-width: min(90vw, 340px);
}
.result-line{ font-size: 30px; font-weight:700; margin-bottom:14px; }
.actions{ display:flex; gap:10px; justify-content:center; }

/* 모바일 */
@media (max-width:600px){
  body{ overflow:auto; }
  .hue-wrap{ width: 80vw; }
}
