*{ box-sizing:border-box }
html,body{ height:100% }
body{
  margin:0;
  font:14px/1.5 "Hanken Grotesk", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background:#f5f6f8;
  color:#333;
}

/* 헤더 + 스테이지(꽉 채움) */
.wrap{
  height:100svh;                 /* 화면 꽉 채움 */
  display:grid;
  grid-template-rows:auto 1fr;   /* 상단 바 + 나머지 전부 */
}

.bar{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:14px;
}

.btn{
  appearance:none;
  border:0;
  padding:10px 16px;
  border-radius:10px;
  background:#3f3f3f;
  color:#fff;
  font-weight:900;
  cursor: url('imgs/eggpointer.png'), pointer;
}

.stage{
  width:95%;
  height:95%;
  position:center;
  overflow:hidden;
}

.stage svg{
  width:100%;
  height:100%;
  display:block;
}


/* BACK BUTTON */
.corner{
  position:fixed; z-index:5;
  font-size:3vw;
  text-transform:uppercase;
}
.tl{top:1.25rem; left:1.25rem; line-height:1.05}
.tr{top:1.25rem; right:1.25rem; writing-mode:vertical-rl}
.bl{bottom:1.5rem; left:1.25rem; writing-mode:vertical-rl;transform:rotate(180deg)}
.br{bottom:1.25rem; right:1.25rem}
.dot{
  display:flex;
  width:5vh; height:5vh;
  background: url("imgs/backbutton.png"); 
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.dot:hover{opacity: 0.5;}
/* BACK BUTTON */
