
body {
  background: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
    font-size: 12px;
  line-height: 1.1;
}

#desktop { transform: translateX(280px); display: block; }
#modile { display: none; }

/* 600px 이하일 때*/
@media (max-width: 600px) {
  #desktop { display: none; }
  #mobile { display: block; }
}
