.corner{
  position:fixed; z-index:20;
}

.tl{top:1.5rem; left:1.25rem}
.tr{top:1.25rem; right:1.25rem}
.bl{bottom:1.5rem; left:1.25rem}
.br{bottom:1.25rem; right:1.25rem}

.dot{
  display:flex;
  width:4vw; height:4vw;
  background: url("imgs/backbuttonwhite.png"); 
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.dot:hover{opacity: 0.5;}
