*{box-sizing:border-box}
html,body{height:100%}
body{
  margin:0;
  display:grid;
  place-items:center;
  color:#e9e9e9;
  font:14px/1.4 system-ui, "Hanken Grotesk", sans-serif;
  overflow:hidden;
}

/* 안내 문구 */
.hint{
  position:fixed;
  top:12px; left:50%; transform:translateX(-50%);
  margin:0; padding:6px 10px;
  font-weight:700;
}

/* p5 캔버스 표시 스타일(반응형 크기) */
canvas{
  width: 100%;
  height: auto;
  display:block;
}

/* BACK BUTTON */
.corner{
  position:fixed; z-index:5;
  font-size:3vw;
  text-transform:uppercase;
}
.tl{top:1.25rem; left:1.25rem; line-height:1.05}
.tr{top:1.25rem; right:1.25rem; writing-mode:vertical-rl}
.bl{bottom:1.5rem; left:1.25rem; writing-mode:vertical-rl;transform:rotate(180deg)}
.br{bottom:1.25rem; right:1.25rem}
.dot{
  display:flex;
  width:5vh; height:5vh;
  background: url("imgs/backbuttonwhite.png"); 
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.dot:hover{opacity: 0.5;}
/* BACK BUTTON */
